[defaults]

inventory = ./inventory.yaml
retry_files_enabled = False
host_key_checking = False
forks = 10
deprecation_warnings = False
interpreter_python = /usr/bin/python3
stdout_callback = ansible.builtin.default
result_format = yaml

[ssh_connection]

pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
